<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="kz.nextstep.tazalykpartners">

    <dist:module dist:instant="true"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.addPointsToUser.AddPointsToUserActivity">
        </activity>
        <activity
                android:name=".ui.pinAdmin.PinAdminActivity"
                android:label="@string/title_activity_pin_admin">
        </activity>
        <activity android:name=".ui.filterByDate.CalendarActivity">
        </activity>
        <activity android:name=".ui.passedUserList.StatisticsPassedUserListActivity">
        </activity>
        <activity android:name=".ui.pinComments.PinCommentsActivity">
        </activity>
        <activity android:name=".ui.pinDetailedInfo.PinDetailedInfoActivity">
        </activity>
        <activity
                android:name=".ui.SplashScreenActivity"
                android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.addEditPin.AddEditPinActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ui.filterByDate.FilterByDateActivity">
        </activity>
        <activity android:name=".ui.filterByType.FilterByTypeActivity">
        </activity>
        <activity
                android:name=".ui.editProfile.EditProfileActivity"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity
                android:name=".ui.navigationDrawer.NavigationDrawerActivity"
                android:label="@string/title_activity_navigation_drawer"
                android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>