<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="kz.nextstep.tazalykpartners">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <service
                android:name=".message.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/tazalyk_partners_notification_logo" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="firebase_messaging_auto_init_enabled"
                android:value="false" />
        <meta-data
                android:name="firebase_analytics_collection_enabled"
                android:value="false" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />

        <activity android:name=".ui.addPointsToUser.AddPointsToUserActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.pinAdmin.PinAdminActivity"
                android:label="@string/title_activity_pin_admin"
                android:screenOrientation="portrait"/>

        <activity android:name=".ui.filterByDate.CalendarActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.passedUserList.StatisticsPassedUserListActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.pinComments.PinCommentsActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.pinDetailedInfo.PinDetailedInfoActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.SplashScreenActivity"
                android:theme="@style/SplashScreenTheme"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.addEditPin.AddEditPinActivity"
                android:windowSoftInputMode="stateHidden"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.filterByDate.FilterByDateActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.filterByType.FilterByTypeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.editProfile.EditProfileActivity"
                android:windowSoftInputMode="stateHidden"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.LoginActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.navigationDrawer.NavigationDrawerActivity"
                android:label="@string/title_activity_navigation_drawer"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
    </application>

</manifest>